/* GERAL */
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:white;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
    grid-template-rows: 1fr 1fr 1fr;
}
/* HEADER */
header{
    background-color: #009ACA;
    box-shadow: black 0px 2px 6px;
    grid-area: header;

}

#boxNav{
    flex:content;
    padding-top: 3%;
    padding-bottom: 2%;    
}
.nav-link{
    margin: 0%;
    color: rgb(0, 0, 0);
    border-bottom: 2px transparent;
    
}
.nav-link:hover{
    margin: 0%;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0,.1) 1px 1px 1px 2px;
    border-radius: 3px;
    border-bottom: 2px white solid;
    margin-bottom: -2px;
    transition-duration: .8s;

}
#logo{
    height: 90px;
}

/* MAIN */
main{
    grid-area: main;
    color: #009ACA;
    text-shadow: rgb(40, 40, 40) 0.5px 0.5px;

}
#text{
    border: darkcyan 1px solid ;
    background-color: rgba(49,49,49,.1);
}
main h4{
    text-align: center;
}
main h5{
    text-align: center;
}
#sala img{
    align-items: center;
    border: cadetblue 1px solid;
    border-radius: 10px;
}

#mapa{
    border: darkcyan 1px solid ;
    background-color: rgba(49,49,49,.1);
}

h4{
    text-shadow: 1px 1px rgb(40, 40, 40);
}
section{
    width: calc(100% - 33px);
}
section:nth-of-type(1){
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1.05);
    background-image: url(imagem/material1.jpg);
}
section:nth-of-type(2){
    height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: scale(1.05);
    background-image: url(imagem/sala\ 2.jpg);
}

/* FOOTER */


footer{
    background-color: #009ACA;
    grid-area: footer;
    box-shadow: 1px 1px 1px #000000 solid;
}
footer h6{
    color: white;
    text-align: center;
    
}